@import "tailwindcss";

@theme {
  --color-primary-100: #e1e7ff;
  --color-primary-200: #ccd6f6;
  --color-primary-300: #aab8e8;
  --color-primary-400: #8999d9;
  --color-primary-500: #687acb;
  --color-primary-600: #465bb2;
  --color-primary-700: #334383;
  --color-primary-800: #1f2a54;
  --color-primary-900: #0a192f;
  --color-primary-950: #050d19;
  --color-primary: #0a192f;
  --color-soft: #ccd6f6;
  --color-soft-light: #aab8e8;
  --color-oranger: #DF5601;
  --color-marine: #0A192F;
  --color-marine-card: #112240;
}